.container {
    justify-content: center;
    margin-top: 2rem;
    display: flex;

    &>form {
        max-width: 500px;
        width: 90%;
        
        background-color: #faedcd;
        box-shadow: 4px 4px #ccc;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 2rem 10px;

        &>.description {
            text-align: center;
            width: 100%;
        }
    }
}

.row {
    justify-content: center;
    display: flex;
    width: 100%;
}

.problem {
    display: flex;

    &>input {
        margin: 0 5px;
        padding: 2px 5px;
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        text-align: center;
        background-color: inherit;

        outline: none;

        &:focus {
            outline: solid 1px #a9d6e5;
        }

        &.error {
            border-bottom: 4px solid #e63946;
            color: #e63946;
            outline: none;
        }

        &.isCorrect {
            border-bottom: 4px solid #52b788;
            color: #52b788;
            outline: none;
        }
    }
}

.page {
    flex-wrap: wrap;
    display: flex;

    &>.side {
        flex: 3 300px;
    }
    
    &>.center {
        flex: 1 700px;
    }

    &>.left {
        justify-content: center;
        display: flex;

        &>div {
            margin-top: 2rem;
        }
    }
}
