.phrase-page-card {
    flex-wrap: wrap;
    flex-flow: row;
    display: flex;

    > .side {
        justify-content: center;
        display: flex;
        flex: 1 300px;

        > div {
            margin: 1rem 0;
            width: 250px;

            > select {
                width: 100%;
            }
        }
    }

    > .center {
        margin-top: 1rem;
        flex: 3 700px;

        > .phrase-row {
            justify-content: center;
            align-items: center;
            cursor: pointer;
            display: flex;

            > img {
                margin: 0 1rem;
                height: 20px;
                width: 20px;
            }

            > div {
                width: fit-content;
                min-width: 1rem;
            }

            > input {
                text-align: center;
                outline: none;
                border: none;

                border-bottom: 1px solid black;
                padding: 3px 7px;

                &:disabled {
                    background-color: #74c69d;
                    font-weight: bold;
                    border: none;
                }
            }
        }
    }
}