.phrase-page-card {
    flex-wrap: wrap;
    display: flex;

    > .side {
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 5px;
        display: flex;
        flex: 1 300px;

        > div {
            margin: 1rem 0;
            width: 250px;

            > select {
                width: 100%;
            }
        }
    }

    > .center {
        justify-content: center;
        margin-top: 1rem;
        padding: 0 10px;
        flex: 3 700px;
        display: flex;

        > .wrapper {
            box-shadow: 2px 2px gray;
            border: 1px solid black;
            border-radius: 10px;
            padding: 2rem 1rem;
            margin-top: 2rem;
            max-width: 700px;
            cursor: pointer;
            width: 100%;

            > div {
                text-align: center;
            }

            > .phrase-row {
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                font-size: 16px;
                display: flex;

                > img {
                    margin: 0 1rem;
                    height: 20px;
                    width: 20px;
                }

                > div {
                    width: fit-content;
                    min-width: 1rem;
                }

                > input {
                    -webkit-border-radius:0px;
                    -webkit-appearance: none;
                    text-align: center;
                    border-radius: 0;
                    font-size: 16px;
                    outline: none;
                    border: none;

                    border-bottom: 1px solid black;
                    padding: 3px 7px;

                    &:disabled {
                        background-color: #74c69d;
                        font-weight: bold;
                        border: none;
                    }
                }
            }
        }
    }
}