.create-page-card {
    flex-wrap: wrap;
    display: flex;

    > .side {
        justify-content: center;
        margin: 2rem 0;
        flex: 1 300px;
        display: flex;

        > div {
            width: 250px;

            > select {
                width: 100%;
            }
        }
    }

    > .center {
        justify-content: center;
        margin-top: 2rem;
        flex: 3 700px;
        display: flex;

        > div {
            max-width: 700px;
            width: 100vw;

            > .button-wrapper {
                justify-content: center;
                display: flex;

                > button {
                    border-radius: 10px;
                    padding: 10px 2rem;
                    margin-top: 2rem;
                    cursor: pointer;
                    border: none;
                }
            }
        }
    }
}