.create-word-window {
    justify-content: center;
    display: flex;

    > .wrapper {
        box-shadow: 2px 2px gray;
        border: 1px solid gray;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        max-width: 600px;
        margin-top: 2rem;
        padding: 1rem;
        display: flex;
        width: 100vw;

        > select {
            margin: 1rem 0;
        }

        > form {
            > div {
                margin: 1rem 0;
            }

            & .field {
                margin: 1rem 0;
            }
        }
    }
}