.navbar {
    background-color: #202020;
    padding-bottom: 1rem;
    display: flex;
    height: 5rem;
    width: 100%;
}

.side {
    flex: 3 300px;
}

.center {
    justify-content: space-between;
    align-items: flex-end;
    max-width: 400px;
    flex: 1 500px;
    display: flex;
}

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 22px;

    &:hover {
        color: #FFDf6C;
    }

    &.active {
        text-decoration: 3px underline;
    }
}